@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 20px;
}

h1 {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
}

h2 {
  font-size: 15px;
  color: red;
  text-transform: uppercase;
  padding-bottom: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
