@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  padding-top: 20px;
  background: '#AAA';
  width: 600px;

  font-family: 'Roboto';
  font-size: 12px;
  // text-transform: uppercase;
}

h1 {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 13px;
  color: blue;
  text-transform: uppercase;
  padding-bottom: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link    { color: #000; text-decoration: none;}  /* unvisited links */
a:visited { color: #000 }  /* visited links   */
a:hover   { color: #000 }  /* user hovers     */
a:active  { color: #000 }  /* active links    */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
